<div class="heading">
  <a href="/airplanes" class="title">Home</a>
  <a href="/search" class="title">Search</a>
  <a href="/admin" class="title">Admin</a>
  <a href="/reservations" class="title">Reservations</a>
</div>

<h1 class="airlineName">Admin Page</h1>