<%= form_tag search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :start, params[:from], placeholder: "from", class: "form-control" %>
    <%= text_field_tag :end, params[:to], placeholder: "to", class: "form-control" %>
    <button class="btn btn-danger search">Search</button>
  </p>
<% end %>