<button>Create Flight</button>


<div id="container">

  <form class="createFlight" action="" >
    <div id="newFlight">
      <input type="text" value="flight #">
      <input type="text" value="date">
      <input type="text" value="to">
      <input type="text" value="from">
      <input type="text" value="plane">
      <a href="">Cancel</a>
      <button>Save</button>
    </div>
  </form>

<h2>Flights</h2>
  <ul>
    <li>Date</li>
    <li>Flight</li>
    <li>From --> To</li>
    <li>Plane</li>
    <li>Seats</li>
  </ul>

  <ul class="flight_details"></ul>
</div>