<button>Create Flight</button>


<div id="container">

    <div id="newFlight">
      <input type="text" id="flight_number" value="flight #">
      <input type="text" id="date" value="date">
      <input type="text" id="destination" value="to">
      <input type="text" id="origin" value="from">
      <input type="text" id="plane" value="plane">
      <a href="">Cancel</a>
      <button>Save</button>
    </div>

<h2>Flights</h2>
  <ul>
    <li>Date</li>
    <li>Flight</li>
    <li>From --> To</li>
    <li>Plane</li>
    <li>Seats</li>
  </ul>

  <ul id="flight_details"></ul>
</div>


<script type="template/handlebars" id="flightItemView">
  <li>{{ number }} {{ date }}  {{ destination }}  {{ origin }}  {{ plane }}</li>
</script>