<button class="btn btn-danger createPlane">Create Flight</button>


<div id="container" class="createAirplane form-inline">

    <div id="newFlight">
      <input type="text" id="flight_number" placeholder="flight #" class="form-control">
      <input type="text" id="date" placeholder="date" class="form-control">
      <input type="text" id="destination" placeholder="to" class="form-control">
      <input type="text" id="origin" placeholder="from" class="form-control">
      <input type="text" id="plane" placeholder="plane" class="form-control">
      <a href="" class="cancel">Cancel</a>
      <button class="btn btn-danger">Save</button>
    </div>

<h2>Flights</h2>
  <ul>
    <li>Date</li>
    <li>Flight</li>
    <li>From --> To</li>
    <li>Plane</li>
    <li>Seats</li>
  </ul>

  <ul id="flight_details"></ul>
</div>


<script type="template/handlebars" id="flightItemView">
  <li>{{ number }} {{ date }}  {{ destination }}  {{ origin }}  {{ plane }}</li>
</script>