<h3>create plane</h3>

<div id="newAirplane">
  <input type="text">
<!--   <input type="text" placeholder="rows">
  <input type="text" placeholder="cols"> -->
  <a href="">Cancel</a>
  <button id="save">Save</button>
</div>

<div id="airplaneList">
  <ul></ul>
</div>
￼<div id="chartcontainer"></div>

<canvas></canvas>

<script type="template/handlebars" id="airplaneItemView">
  <p>{{name}}</p>
</script>