<h3>create plane</h3>

<div class="createAirplane">
  
  <div id="newAirplane">
    <input type="text" placeholder="name" id="airplaneName">
    <input type="text" placeholder="rows" id="airplaneRow">
    <input type="text" placeholder="cols" id="airplaneCol">
<!--     <a href="">Cancel</a> -->
    <button class="save">Save</button>
  </div>

</div>

<div id="airplaneDetails">
  
</div>


<script type="template/handlebars" id="airplaneItemView">
  <p>{{name}} 
    
  </p>  
</script>