<div class="heading">
  <a href="/airplanes" class="title">Planes</a>
  <a href="/flights" class="title">Flights</a>
  <a href="/admin" class="title">Admin</a>
</div>
<h1 class="airlineName">Emperor Airlines</h1>

<button id="createBtn" class="btn btn-danger createPlane">Create Plane</button>

<div id="createForm" class="createAirplane form-inline">
    <div id="newAirplane" class="form_group">
      <div class="form_group">
        <input type="text" placeholder="name" id="airplaneName" class="form-control">
        <input type="text" placeholder="rows" id="airplaneRow" class="form-control">
        <input type="text" placeholder="cols" id="airplaneCol" class="form-control">
      </div>

      <div class="buttons">
        <a href="" class="cancel">Cancel</a>
        <button class="save btn btn-danger">Save</button>
      </div>
    </div>
</div>
￼<div id="chartcontainer"></div>

<ul id="airplaneDetails">
</ul>

<script type="template/handlebars" id="airplaneItemView">
  <p><h3 class="align">{{name}}</h3>
    <a class="del align" href=""><span class="glyphicon glyphicon-remove"></span></a>
  </p>
</script>
