<h3>create plane</h3>

<form class="createAirplane" action="">
  
  <div id="newAirplane">
    <input type="text" placeholder="name">
    <input type="text" placeholder="rows">
    <input type="text" placeholder="cols">
    <a href="">Cancel</a>
    <button class="save">Save</button>
  </div>

</form>

<div id="airplaneList">
  <ul></ul>
</div>


<script type="template/handlebars" id="airplaneItemView">
  <p>{{body}}
  </p>  
</script>