<%#= form_tag edit_reservation_path, :method => 'post' do %>
<!--   <p> -->
    <%#= text_field_tag :row, params[:row], placeholder: "row", class: "form-control" %>
    <%#= text_field_tag :column, params[:column], placeholder: "column", class: "form-control" %>
  <!--   <button class="btn btn-danger seat">Select Seat</button>
  </p> -->
<%# end %>


