<table class="table">
  <tr id="1">
    <td id="A">1A</td><td id="B">1B</td><td id="C">1C</td><td></td><td id="D">1D</td><td id="E">1E</td><td id="F">1F</td>
  </tr>
  <tr id="2">
    <td id="A">2A</td><td id="B">2B</td><td id="C">2C</td><td></td><td id="D">2D</td><td id="E">2E</td><td id="F">2F</td>
  </tr>
  <tr id="3">
     <td id="A">3A</td><td id="B">3B</td><td id="C">3C</td><td></td><td id="D">3D</td><td id="E">3E</td><td id="F">3F</td>
  </tr>
  <tr id="4">
     <td id="A">4A</td><td id="B">4B</td><td id="C">4C</td><td></td><td id="D">4D</td><td id="E">4E</td><td id="F">4F</td>
  </tr>
  <tr id="5">
     <td id="A">5A</td><td id="B">5B</td><td id="C">5C</td><td></td><td id="D">5D</td><td id="E">5E</td><td id="F">5F</td>
  </tr>
  <tr id="6">
     <td id="A">6A</td><td id="B">6B</td><td id="C">6C</td><td></td><td id="D">6D</td><td id="E">6E</td><td id="F">6F</td>
  </tr>
  <tr id="7">
     <td id="A">7A</td><td id="B">7B</td><td id="C">7C</td><td></td><td id="D">7D</td><td id="E">7E</td><td id="F">7F</td>
  </tr>
  <tr id="8">
     <td id="A">8A</td><td id="B">8B</td><td id="C">8C</td><td></td><td id="D">8D</td><td id="E">8E</td><td id="F">8F</td>
  </tr>
  <tr id="9">
     <td id="A">9A</td><td id="B">9B</td><td id="C">9C</td><td></td><td id="D">9D</td><td id="E">9E</td><td id="F">9F</td>
  </tr>
  <tr id="10">
     <td id="A">10A</td><td id="B">10B</td><td id="C">10C</td><td></td><td id="D">10D</td><td id="E">10E</td><td id="F">10F</td>
  </tr>
  <tr id="11">
     <td id="A">11A</td><td id="B">11B</td><td id="C">11C</td><td></td><td id="D">11D</td><td id="E">11E</td><td id="F">11F</td>
  </tr>
  <tr id="12">
     <td id="A">12A</td><td id="B">12B</td><td id="C">12C</td><td></td><td id="D">12D</td><td id="E">12E</td><td id="F">12F</td>
  </tr>
  <tr id="13">
     <td id="A">13A</td><td id="B">13B</td><td id="C">13C</td><td></td><td id="D">13D</td><td id="E">13E</td><td id="F">13F</td>
  </tr>
  <tr id="14">
     <td id="A">14A</td><td id="B">14B</td><td id="C">14C</td><td></td><td id="D">14D</td><td id="E">14E</td><td id="F">14F</td>
  </tr>
  <tr id="15">
     <td id="A">15A</td><td id="B">15B</td><td id="C">15C</td><td></td><td id="D">15D</td><td id="E">15E</td><td id="F">15F</td>
  </tr>
  <tr id="16">
     <td id="A">16A</td><td id="B">16B</td><td id="C">16C</td><td></td><td id="D">16D</td><td id="E">16E</td><td id="F">16F</td>
  </tr>
  <tr id="17">
     <td id="A">17A</td><td id="B">17B</td><td id="C">17C</td><td></td><td id="D">17D</td><td id="E">17E</td><td id="F">17F</td>
  </tr>
  <tr id="18">
     <td id="A">18A</td><td id="B">18B</td><td id="C">18C</td><td></td><td id="D">18D</td><td id="E">18E</td><td id="F">18F</td>
  </tr>
  <tr id="19">
     <td id="A">19A</td><td id="B">19B</td><td id="C">19C</td><td></td><td id="D">19D</td><td id="E">19E</td><td id="F">19F</td>
  </tr>
  <tr id="20">
     <td id="A">20A</td><td id="B">20B</td><td id="C">20C</td><td></td><td id="D">20D</td><td id="E">20E</td><td id="F">20F</td>
  </tr>
</table>