<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlines</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  
  <div class="title">
    <a href="/airplanes">Planes</a>
    <a href="/flights">Flights</a>
    <a href="">Admin</a>
  </div>
  
  <h1>Emperor Airlines</h1>



  <%= yield %>

</div>




<script>
  var App = {};
  App.Views = {};
  App.Models = {};
  App.Collections = {};
</script>

  <%= javascript_include_tag 'application' %>
</body>
</html>
